<form role="form">
  <legend>Add Event</legend>
  <div class="form-group">
    <label for="a4x-title">Title</label>
    <input type="text" name="title" class="form-control" id="a4x-title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="a4x-text">Text</label>
    <textarea class="form-control" name="text" id="a4x-text" placeholder="Enter event description here"></textarea>
  </div>
  <p>Todo... Insert rest of fields here.</p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
