<div class="modal" id="apps4euModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-body">
        {{{body}}}
      </div>
    </div>
  </div>
</div>
